body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

main {
  /* position: relative; */
  width: 85%;
  max-width: 100%;
  /* margin: auto; */
  /* padding: 0%; */
  /* text-align: center; */
  background-color: #fbeee6;
  float: right;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
}

h1 {
  color: #c63d2f;
  font-size: 40px;
  text-align: top;
}

h2 {
  font-size: 30px;
  color: #ff9b50;
  border-bottom: 1px solid #ffbb5c;
}

/* footer {
  background-color: blue;
  width: auto;
  height: 10vh;
} */
/* .content-mujer {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
}
.content-hombre {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}
.tamaño {
  width: 100%;
  margin-left: 50 px;
}
.content-infantil {
  display: inline-block;
  align-items: center;
  position: relative;
  width: 49%;
  vertical-align: center;
  box-sizing: border-box;
  margin-left: 10 px;
}
.content-deportes {
  display: inline-block;
  position: relative;
  width: 49%;
  vertical-align: bottom;
  box-sizing: border-box;
}
.tamaño2 {
  width: 40%;
  height: 30%;
}
.center-rigth {
  position: absolute;
  top: 20%;
  right: 5%;
  transform: translate(0, -50%);
}
.over-text {
  position: absolute;
  text-align: center;
  bottom: 2%;
}
main section nav ul li {
  font-size: 30px;
}
main section nav ul li a {
  color: white;
  text-decoration: none;
} */

#lado_izquierdo {
  height: 1200px;
  width: 15%;
  background-color: grey;
  float: left;
}
.lado_izquierdo nav a {
  background-color: grey;
  color: white;
  padding: 50px;
  display: block;
  text-decoration: none;
  text-align: left;
  overflow: hidden;
}

.lado_izquierdo nav a:hover {
  background-color: white;
  color: black;
  margin: auto;
  overflow: hidden;
}
/* footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
} */
/* .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.footer-logo img {
  width: 100px;
  height: auto;
}
.footer-info {
  flex: 1;
  text-align: left;
}
.footer-info h3 {
  font-size: 18px;
}

.footer-info p {
  margin: 5px 0;
}

.footer-social {
  flex: 1;
  text-align: right;
}

.footer-social h3 {
  font-size: 18px;
}

.footer-social ul {
  list-style: none;
  padding: 0;
}

.footer-social li {
  margin: 5px 0;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.footer-social a:hover {
  text-decoration: underline;
} */
aside {
  width: 20%; /* Ancho del aside */
  margin-left: 20px; /* Margen izquierdo para separar del main */
  background-color: #f1f1f1;
  padding: 10px;
}
.nav-link {
  display: block;
  margin-bottom: 10px;
}

.content-mujer {
  display: inline-block;
  color: white;
  position: relative;
  width: 49%;
  vertical-align: top;
  box-sizing: border-box;
}
.content-hombre {
  display: inline-block;
  position: relative;
  width: 49%;
  vertical-align: top;
  box-sizing: border-box;
  margin-top: 50px;
}
.tamaño {
  width: 60%;
}
