header{
    height: 10vh;
    width: 100%;
    /*display: inline-block;*/
    justify-content: space-between;
    align-items: center;
    position: relative;
    display:flex

}
header i{
    font-size: 30px;
    color: black;   

}

.carrito{
    display: flex;
    align-items: center;
    padding: 20px 36px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 20px 40px rgb(187, 81, 237);
    cursor:pointer;
    user-select: none;
}
.carrito .icon{
    font-size: 20px;
    color: aqua;
    margin-right: 5px;
    display: none;

}
.carrito .checked .icon{
    display: flex;

}
.icon .spinner .spin{
    animation: spin 1.0s ease-in-out infinite;
}
@keyframes spin {
    100%{
        transform: rotate(360deg);
    }
}
.icon.check{
    display: inline-flex;
    height: 28px;
    width: 28px;
    font-size: 17px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}
.carrito .btn-tex {
    font-size: 32px;
    font-weight: 400px;
    color: aqua;


}
.contenedor_navar{
    width: 100%;
    height: 120px;
    background-color: rgb(12, 12, 12);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo{
    height: 1vh;
}
.buscar{
    border-radius: 10px;
}
.resistencia{
    
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;   

}
.resistencia i{
    font-size: 30px;
    color: white;
}
.contenedor_buscador{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.menu_navegacion ul {
    list-style: none;
    display: flex;
    padding: 20px;
    gap: 20px;
    
}

.menu_navegacion li a{
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
 /* width: 20%; */
}
.menu_navegacion li a:hover{
    background-color: rgb(218, 187, 246);
}
.envio {
    height: 100%;
    width: 35%;
    margin-left: 0;

}




