body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  overflow-x: hidden;
}

.lado_izquierdo nav {
  margin-top: 35%;
}

.lado_izquierdo nav a {
  background-color:   rgb(160, 126, 195);
  color: white;
  display: block;
  padding: 50px 10px;
  text-decoration: none;
  text-align: left;
  overflow: hidden;
}

.lado_izquierdo nav a:hover {
  background-color: rgb(164, 89, 234);
  color: black;
  margin: auto;
  overflow: hidden;
}

aside {
  margin-left: 20px; /* Margen izquierdo para separar del main */
  background-color: #f1f1f1;
  padding: 10px;
  
}

.nav-link {
  display: block;
  margin-bottom: 10px;
}

